#1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

In [ ]:
*:expressoin

"hello" : value

-87.8 : value

/ : expression

+ : expression

6 : value

#2. What is the difference between string and variable?

In [ ]:
string:
A stirng is an datatype of an values that you are Entered

variable:
A variable is where you store the values that you entering

'hi'

#3. Describe three different data types.

In [ ]:
1:int
2:float
3:char

#4. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
A statement in Python is not evaluated for some results.
An expression in Python is evaluated for some results

#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon =22
bacon + 1

23

#7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [2]:
'spam'+'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

#8. Why is eggs a valid variable name while 100 is invalid?

In [4]:
8. Why is eggs a valid variable name while 100 is invalid , because 

A variable shold start with Alphabets or underscore , number are not alloed to assagin

#9.What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
int(), float(), str()

#10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [5]:
this expression cause an error because , in the rule of contatenation if we consider the string values
we can concatinate str to str . 99 is not a string

fix error:
'i have eaten'+'99'+'burritos.'